.h1{
    font-size: medium;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
}
.aboutus img{
    margin: auto;
    padding: 50%;
    display: block;
}
.col-8 p {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:50px 20px;
}
@media screen and (min-device-width: 768px)
    and (max-device-width: 1024px) {
      .div{
         flex-wrap: nowrap;
      }
    }
    @media screen and (min-width: 1024px) {
      .div {
         flex-wrap: nowrap;
      }
  }
  @media screen
    and (max-device-width: 640px) {
      .div {
         flex-wrap: nowrap;
      }
}