.container1 h2{
    color:rgb(183, 83, 250);
    font-weight: 700;
}
.container1 {
    background-color: rgb(159, 242, 214);
}
.container1 input{
    width:800px;
    margin:0px 250px;
}
.container1 button {
    width:150px;
    height: 40px;
    background-color:rgb(245, 105, 105)
}

