 #t6 {
    background: linear-gradient(to left, #a2f895 , #9bdafa);
    height:300px;
}
 .container3 h2{
    color:rgb(96, 122, 251);
    font-weight: 700;
    padding:20px;
}
.card1 {
    margin:0px 500px;
}

#t4{
    background-color: rgb(183, 250, 247);
} 